<div class="banner-main">
  <div class="container">
    <h1><span class="gray-text"><%= icon('fas', 'plus') %></span>New session</h1>
    <p>Create a new session for <%= @program.contract.athlete.first_name %>.</p>
  </div>
</div>

<div class="container">
  <div class="category-padding">
    <%= render "form", training: @training, program: @program %>
  </div>
</div>
