<div class="banner-main">
  <div class="container">
    <h1>Sessions#index</h1>
    <p>Your sessions background with <%= current_user.first_name %></p>
  </div>
</div>

<div class="container">
  <h2>Sessions with </h2>

</div>
