<div class="banner-main">
  <div class="container">
    <h1>Sessions#index</h1>
    <p>Your background with <%= current_user %></p>
  </div>
</div>

<div class="container">
  <h2>Sessions </h2>

      <% @sessions.each do |session| %>
      <div class="row">
        <div class="card-product col-lg">
        <img src="https://lmimirror3pvr.azureedge.net/static/media/1769/a871b582-b5ee-4585-9115-81a3ae2f099d/ww_32-288x288_reebok_lesmills_ss16_d3_bodypump_02_053-1_f1.jpg" />
          <div class="card-product-infos">
            <h2><%= session.start_time %> session</h2>
              <% session.exercises.each do |exercise| %>
              <p class="card-text"> <%= exercise.name %></p>
              <% end %>
          </div>
        <% end %>
        </div>
    </div>
    <%#= link_to "back to the program", program_path(program) %>
</div>


