<div class="banner-main">
  <div class="container">
    <h1>Sessions#index</h1>
    <p>Your background with <%= current_user %></p>
  </div>
</div>

<div class="container">
  <h2>Sessions </h2>
    <div class="row">
      <% @sessions.each do |session| %>
        <div class="col-12 card-session mb-3" style="max-width: 18rem;">
          <div class="card-header"> <h3><%= session.start_time %> session</h3></div>
            <div class="card-body">
              <h5 class="card-title">Exercises</h5>
              <% session.exercises.each do |exercise| %>
              <p class="card-text"> <%= exercise.name %></p>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>
</div>

