<div class="banner-main">
  <div class="container">
    <h1>Session#new</h1>
    <p>Add a new exercise session to your athlete's program</p>
  </div>
</div>

<div class="container">
<%= render "form", session: @session, program: @program %>
</div>
