<h1>Contract#new</h1>
<p>Find me in app/views/contract/new.html.erb</p>



<div class="container">

  <%= simple_form_for @contract do |f| %>
    <%= f.input :athlete_id, :collection => User.where(:is_coach => false) %>
<!--     <%= f.input :coach_id %>
 -->    <%= f.button :submit, class: 'main-btn ' %>
  <% end %>

</div>

