
<p> You have to eat :</p>

<p> <%= @program.proteins_target%> g proteins/day</p>
<p> <%= @program.carbs_target%> g carbs/day </p>
<p> <%= @program.fats_target%> g fats/day </p>


<%= link_to "add a meal", new_program_meal_path(@program) %>
