

  <%= simple_form_for [meal, dose] do |f| %>
<div class="line-stat-from">
        <%= f.input :quantity %>
        <%= f.input :ingredient, :collection => Ingredient.all %>
        <%= f.button :submit, class: 'my-button' %>
</div>
  <% end %>


