

<%= simple_form_for [meal, dose] do |f| %>
  <div class="form-inline-stat">
      <%= f.input :quantity %>
      <%= f.association :ingredient, :collection => Ingredient.all %>
      <%= f.button :submit, class: 'main-btn ' %>
  </div>
<% end %>


