<div class="line-stat-from">
  <%= simple_form_for [@program, @meal],
   wrapper: :inline_form,
    html: { class: "form-inline" } do |f| %>
    <%= f.input :name, :collection => %w[Petit-dejeuner Dejeuner Gouter Diner] %>
    <%= f.input :start_time, as: :date, html5: true %>
    <%= f.button :submit, class: 'my-button' %>
  <% end %>
</div>
