

<%= simple_form_for [@program, @meal] do |f| %>
  <div class="form-inline-stat">
    <%= f.input :name, :collection => %w[Petit-dejeuner Dejeuner Gouter Diner] %>
    <%= f.input :start_time, as: :date, html5: true %>
    <%= f.button :submit, class: 'main-btn ' %>
  </div>
<% end %>
