.card-contract {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  background-color: $white;
  p {
    margin: 0px;
    padding: 8px 0px;
  }
  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    //background-position: center;
    //background-repeat: no-repeat;
    //background-size: cover;
    //position: relative;
  }
}
