.category-padding {
  padding: 64px 0px;
}

.category-padding-bottom {
  padding: 0px 0px 64px 0px;
}

.category-content {
  //padding: 32px 0px;
  //position: relative;
  //overflow: hidden;

  img {
    padding: 8px 0px;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 320px;
  }

  .category-content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 40px;

  }
}
