.category-padding {
  padding: 64px 0px;
}

.category-content {
  padding: 16px;
  img {
    max-width: 640px;
    height: 260px;
    object-fit: cover;
  }
}

.category-content-picture-left {

}

.category-content-picture-right {

}
