.exercise-container {
  display: flex;
  height: 100px ;
  padding: 20px 50px;
  margin: 30px auto;
  //box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  align-items: center;
  //border-radius: 8px;
}

.exercice-row {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #d8d1d0;
  padding: 10px 30px ;
  color: white;
  text-align: center;
}

.exercice-row p {
  font-size: 20px;
  font-weight: bold;
}

.exercise-arrow .fas {
  color: #ef4a2a;
}
