

.macro_card {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 40px;
}

.macro {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  width: 200px;
  height: 150px;
  padding-top: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  span {
    color: "#303030";
  }

  h2 {
    text-transform: lowercase;
  }

  p {
    margin:0;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
  }

  div {
    margin-top:10px;
    display:flex;
    justify-content: center;
  }

  i {
    color: gray;
  }
}
