// Layout Classes
.sidebar-wrapper {
  display: flex;
}

.sidebar-content {
  flex-grow: 1;
}

// Main Classes
.sidebar {
  flex-shrink: 0;
  width: 64px;
  height: 100vh;

  position: -webkit-sticky;
  position: sticky;
  top: 0;

  background-color: $black;
}

.sidebar-athlete {
  border-top: solid 1px $gray;
  padding: 1.5rem 0rem;
}

// Links
.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1.5rem;
}

.sidebar-item {
  padding: 0px 0px 8px 0px;
  color: $gray;

  &:hover{
    color: $light-gray;
  }

  .sidebar-item-text {
    visibility: hidden;
    position: absolute;
    //z-index: 1;
    //left: 105%;
  }

  &:hover .sidebar-item-text {
    visibility: visible;
  }
}
