
 .page-title {
  color: #EF4B2A;
  margin: 30px 0px;
 }

 .meal-graph {
  margin-bottom: 20px;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding:10px;
  border-radius: 5px;
  text-align:center;
}

.macrograph {
  margin-bottom:60px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  // width:100%;
  padding:10px 30px;
  background-color: white;

  display: flex;
  // justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.meal-graph_macro {
  background-color: white;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align:center;
  width: 300px;
  height: 300px;
}




// Tableau


.table-nutri {
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding:10px;
  border-radius: 5px;
}


.header {
  margin: 0;

  p {
    margin: 0;
  }

  span {
    margin: 0;
    font-size:14px;
    color: gray;
  }

  i {
    color: gray;
  }
}



.nutri-table-meal {
  text-align:center;
  width:100%;
  color: black;
  padding:20px;
  margin-bottom: 60px;


  table, th, td {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
  }

  thead, tfoot {
    // tr:last-child {
    //   border-bottom:1px solid gray;
    // }
  }


  tbody {
    background-color:white;

    // tr:nth-child(odd) {
    //   background-color: #f2f2f2;
    // }

    .perfectday {
      background-color: rgba(82,208,104,0.2) ;
      border-left: 5px solid #1FB60B;
    }

    .badday {
      background-color: rgba(247, 127, 103,0.2);
      border-left: 5px solid rgba(246, 51, 12,1);
    }
  }


  .symbol {
    display: flex;
    justify-content: space-around;
  }

  .fa-check {
    color: #1FB60B;
  }

  .fa-times {
    color:rgba(246, 51, 12,1);
  }


  th {
    margin: 25px;
    background:white;
    font-weight: bold;
    padding: 0px 50px;
    height:60px;
    width: 20%;
  }

  td {
    font-family:sans-serif;
    font-size:80%;
    padding-top:10px;
  }

  a {
    color: black;
  }
}



// responsive behavior to table

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1098px)  {

  /* Force table to not be like tables anymore */
  .nutri-table-meal {

   table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Date"; }
  td:nth-of-type(2):before { content: "Proteins"; }
  td:nth-of-type(3):before { content: "Fats"; }
  td:nth-of-type(4):before { content: "Carbs"; }
  td:nth-of-type(5):before { content: "Calories"; }
  }
}
